<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Stellar Math learning game platform">
<meta name="author" content="JSVillage">
<title>Stellar Math</title>

<script src="/static/js/lib/jquery.2.2.0.min.js"></script>

<script src="/static/js/global.js"></script>

<link href="/static/css/global.css" rel="stylesheet">

<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">