<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
        <div id="exercize-explanation">
            <p>words here about how to do something related to maths</p>
            <button id="begin-exercise">begin</button>
        </div>
        <div id="progress-bar" class="progress-{{progress.percentage}}">
            rocket ship!
        </div>
    </body>
</html>