<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
      <h1>Welcome to the Stellar Math League</h1>
      <section>
        <div>Let's get started!</div>
        <div><a href="/signin">Already have an account? Click here</a></div>
      </section>
      <form action="/signup" method="post" id="user-info">
        <div>
          <div>What name would you like to use?</div>
          <label for="name">Your name</label>
          <input type="text" name="name" placeholder="Please enter your name here">
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="What email would you like to use?">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" name="password" placeholder="What password would you like to use?">
        </div>
        <div>
          <div>How old are you?</div>
          <select name="age" form="user-info">
            <option value="value1">3-5 years old</option> 
            <option value="value2">6-8 years old</option>
            <option value="value3">9-12 years old</option>
          </select>
        </div>
      </form>
    </body>
</html>