<!DOCTYPE html>
<html>
    <head>
      {{>head}}

      <link rel="stylesheet" type="text/css" href="/static/css/home.css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:300,300i,700" rel="stylesheet"> 

      <script src="/static/js/dist/home.bundle.js"></script>
    </head>
    <body  id="splash-body">
      <div id="home-background"></div>
      <h1>Welcome to the Stellar Math League</h1>
      <div id="satellite">
        <img src="static/img/satellite.png">
      </div>
      <div id="sign-in-area">
      <section>
        <div>First time here?</div>
        <div><a href="/signup">Click here to get Started!</a></div>
      </section>
      
      <form action="/signin" method="post" id="user-info">
        <div>
          <label for="email">Please enter your email</label>
          <input type="email" name="email" placeholder="email">
        </div>
        <div>
          <label for="password">Please enter your password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <div>
          <input type="submit" value="Launch!" id="launch-button">
        </div>
      </form>
      </div>
    
    </body>
</html>