<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="description" content="Stellar Math learning game platform"/>
      <meta name="author" content="JSVillage"/>
      <title>Stellar Math</title>

      <script src="/static/js/lib/jquery.3.1.0.min.js"></script>

      <script src="/static/js/dist/index.bundle.js"></script>

      <link href="/static/css/global.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="../../public/css/stellar-user.css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:300,300i,700" rel="stylesheet"> 

      <!--<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">-->
    </head>
    <body>
      <!-- Top Information Panel -->
      <section id="info">
        <div><h1>Welcome Jenny2910!</h1></div>
        <div>You have 17 points remaining to reach the next world.</div>
        <div>Your total points awarded are: 42</div>
      </section>
      <!-- Skills Panel (Left) -->
      <section id="skills">
        <div>Your skills:</div>
        <div class="skills">Counting: 100%</div>
        <div class="skills">Adding: 0%</div>
        <section id="tree">
          <img src="../../public/img/badge-count-done.png" class="">
          <img src="../../public/img/badge-add.png" class="badge">
          <img src="../../public/img/badge-subtract.png" class="badge">
          <img src="../../public/img/badge-multiply.png" class="badge">
          <img src="../../public/img/badge-divide.png" class="badge">
        </section>
      </section>
      <!-- Planets and Buttons -->
      <section id="map">
        <img src="../../public/img/sun.png" id="sun">
        <form action="">
          <input type="submit" value="Number World" id="number-world" class="world"/>
        </form>
        <form action="/exercise/addition">
          <input type="submit" value="Addition World" id="addition-world" class="world"/>
        </form>
        <form action="">
          <input type="submit" value="Subtraction World" id="subtraction-world" class="world"/>
        </form>
        <form action="">
          <input type="submit" value="Multiplication World" id="multiplication-world" class="world"/>
        </form>
        <form action="">
          <input type="submit" value="Division World" id="division-world" class="world"/>
        </form>
        <form action="">
          <input type="submit" value="Exponents World" id="exponents-world" class="world"/>
        </form>
        <form action="">
          <input type="submit" value="Operations World" id="operations-world" class="world"/>
        </form>
        <form action="/exercise/addition" id="go-form">
          <label for="go-button">Are you ready for your next mission?</label>
          <input type="submit" value="Go" name="go-button" id="go-button"/>
        </form>
      </section>
</body>
</html>