<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
      <!-- Top Information Panel -->
      <section>
        <div>Welcome {{user.username}}</div>
        <div>You have {{user.remainingPoints}} points remaining to reach the next world</div>
        <div>Your total points awarded are: {{totalPoints}}</div>
      </section>
      <!-- Skills Panel (Left) -->
      <section>
        <div>Your skills:</div>
        <div>{{skills}}</div>
      </section>
      <!-- Planets and Buttons -->
      <section>
        <form action="">
          <input type="submit" value="Number World" />
        </form>
        <form action="/exercise/addition">
          <input type="submit" value="Addition World" />
        </form>
        <form action="">
          <input type="submit" value="Subtraction World" />
        </form>
        <form action="">
          <input type="submit" value="Multiplication World" />
        </form>
        <form action="">
          <input type="submit" value="Division World" />
        </form>
        <form action="">
          <input type="submit" value="Exponents World" />
        </form>
        <form action="">
          <input type="submit" value="Operations World" />
        </form>
        <form action="/exercise/addition">
          <label for="go-button">What name would you like to use?</label>
          <input type="submit" value="Go" name="go-button"/>
        </form>
      </section>
    </body>
</html>